/**
 * @file
 * layout
 *
 * To avoid obscuring CSS added to the page by Drupal or a contrib module, the
 * EvolutionWeb_Theme layout itself has just enough CSS to arrange the page
 * in a traditional layout.
 *
 */
#logo {
  float:left;
  height:100%;
  width:19%;
}
#name-and-slogan {
  width:80%;
  padding:10px;
  padding-left:20%;
}
#main_menu {
  padding:10px;
}
#page {
  width:960px; /* change 960/1200 grid layout */
  margin: auto ;
  margin-top:40px;
}
#page-title {
  padding-top:10px;
}
#breadcrumb { 
  display:none; /* disable breadcrump - u maybe want to delete this */
}
#content,
#sidebar-first,
#sidebar-second {
  float: left;
  display: inline;
  position: relative;
}
#header {
  width:100%;
}
#user_menu {
  float:right;
}
#user_menu li {
  float:left;
  list-style: none;
  margin:0px;
}
#user_menu ul {
  margin: 0px; 
  padding: 0px;
}
#main_menu li {
  display:inline;
  list-style: none;
  margin:0px;
  padding-right:10px;
}
#main_menu ul {
  margin: 0px; 
  padding: 0px;
}
#main-wrapper {
  margin-left:10px;
  margin-right:10px;
}
#main {
  padding:10px;
}
#content {
  width: 100%;
}
.comment {
  height:100%;
}
.comment-text {
  overflow:hidden;
  padding-left:10px;
  padding-bottom:10px;
  padding-top:10px;
}
.attribution {
  border-right: 1px solid darkorange;
  float:left;
  width:20%;
  height:100%;
  padding-top:10px;
}
ul.inline li {
  padding:0px;
}
#comments h2 {
  padding-top:10px;
  padding-bottom:10px;
}
body.sidebar-first #content {
  width: 80%;
  left: 20%; 
}
body.sidebar-second #content {
  width: 80%;
}
body.two-sidebars #content {
  width: 60%;
  left: 20%;
}
#sidebar-first {
  width: 20%;
  left: -80%; 
}
ul.menu {
  padding:0px;
  margin:0px;
}
#sidebar-first .block {
  margin-right:10px;
  margin-bottom:10px;
}
#sidebar-second .block {
  margin-left:10px;
  margin-bottom:10px;
}
body.two-sidebars #sidebar-first {
  left: -60%; 
}
#sidebar-second {
  float: right;
  width: 20%;
}
#footer {
  padding:10px;
}
