/**
 * @file
 * layout responsive
 *
 * Now lets make it responsive for phones
 *
 */
@media all and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
  html {
    font-size: 300%;
  }
  #logo img {
    width:300%;
  }
  #page {
    width:100%;
  }
  #name-and-slogan {
  display:none;
  }
  #sidebar-first {
    width:100%;
    left:0px;
  }
  #sidebar-second {
    width:100%;
    left:0px;
    float:left;
  }
  #content {
    width:100%;
    left:0px;
  }
  body.two-sidebars #content {
    width:100%;
    left:0px;
  }
  body.two-sidebars #sidebar-first {
    eft:0px;
    width:100%;
  }
  body.two-sidebars #sidebar-second {
    width:100%;
    left:0px;
  }
}
@media all and (max-width : 768px) and (orientation : portrait) {
  html {
    font-size: 300%;
  }
  #logo img {
    width:300%;
  }
  #page {
  width:100%;
  }
  #name-and-slogan {
  display:none;
  }
  #sidebar-first {
    width:100%;
    left:0px;
  }
  #sidebar-second {
    width:100%;
    left:0px;
    float:left;
  }
  #content {
    width:100%;
    left:0px;
  }
  body.two-sidebars #content {
    width:100%;
    left:0px;
  }
  body.two-sidebars #sidebar-first {
    left:0px;
    width:100%;
  }
  body.two-sidebars #sidebar-second {
    width:100%;
    left:0px;
  }
}
@media all and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
  #page {
    width:100%;
  }
}
@media all and (max-width : 768px) and (orientation : landscape) {
  #page {
    width:100%;
  }
}
