
/**
 * @file
 * style
 *
 * To avoid obscuring CSS added to the page by Drupal or a contrib module, the
 * EvolutionWeb_Theme style itself has just enough CSS to arrange the page
 * in a traditional style.
 *
 */
#site-name {
  font-size: 170%;
}
#site-slogan {
  font-size: 140%;
}
html {
  font-family: Helvetica, Arial, sans-serif;
  background-color:#222;
  color:#fff;
  font-size:16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color:#FF8C00;
}
h1 {
  font-size:150%;
}
h2 {
  font-size:140%;
}
h3 {
  font-size:110%;
}
h4,
h5,
h6 {
  font-size:100%;
}
hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #FF8C00;
}
a:link,
a:visited {
  color: #FF8C00;
  text-decoration: none;
}
a:hover {
  color: #FFA500;
}
a:active {
  color: #FF8C00;
}
li a:link,
li a:visited {
  color: #fff;
  text-decoration: none;
}
li a:hover {
  color: #FFA500;
}
li a:active {
  color: #fff;
}
#main_menu li a:link,
#main_menu li a:visited {
  color: #FF8C00;
  text-decoration: none;
  font-weight:bold;
}
#main_menu li a:hover {
  color: #FFA500;
}
#main_menu li a:active {
  color: #FF8C00;
}
#user_menu li a:link,
#user_menu li a:visited {
  color: #FF8C00;
  text-decoration: none;
}
#user_menu li a:hover {
  color: #FFA500;
}
#user_menu li a:active {
  color: #FF8C00;
}
.tabs li a:link,
.tabs li a:visited {
  color: #FF8C00;
  text-decoration: none;
  background-color:#444;
}
#breadcrumb a:link,
#breadcrumb a:visited {
  color: #FF8C00;
  text-decoration: none;
}
#breadcrumb a:hover {
  color: #FFA500;
}

tbody {
  border:0px;
}
blockquote {
  font-style: italic;
}
blockquote:before {
  color: #bbb;
  content: "\201C";
}
blockquote:after {
  color: #bbb;
  content: "\201D";
}
blockquote > p:first-child {
  display: inline;
}
#sidebar-first .content {
  background-color:#444;
  border: 2px solid #666;
  padding:10px;
  margin-top:10px;
}
#sidebar-second .content {
  background-color:#444;
  border: 2px solid #666;
  padding:10px;
  margin-top:10px;
}
#main_menu {
  background-color: #000;
  background-image: -moz-linear-gradient(top, #000 0%, #333 100%);
  background-image: -ms-linear-gradient(top, #000 0%, #333 100%);
  background-image: -o-linear-gradient(top, #000 0%, #333 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000), color-stop(1, #333));
  background-image: -webkit-linear-gradient(top, #000 0%, #333 100%);
  background-image: linear-gradient(top, #000 0%, #333 100%);
}
#footer {
  background-color: #000;
  background-image: -moz-linear-gradient(top, #333 0%, #000 100%);
  background-image: -ms-linear-gradient(top, #333 0%, #000 100%);
  background-image: -o-linear-gradient(top, #333 0%, #000 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #333), color-stop(1, #000));
  background-image: -webkit-linear-gradient(top, #333 0%, #000 100%);
  background-image: linear-gradient(top, #333 0%, #000 100%);
}
.field-type-taxonomy-term-reference .field-item {
  float:left;
  padding:2px;
}
.field-type-taxonomy-term-reference .field-items {
  padding-bottom:10px;
  overflow: hidden;
}
fieldset {
  border:2px solid #666;
}
.form-text {
  width:100%
}
