/**
 * @file
 * layout responsive
 *
 * Now lets make it responsive for tablets
 *
 */
@media all and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
  #page {
    width:100%;
	}
}
@media all and (max-width : 768px) and (orientation : portrait) {
  #page {
    width:100%;
  }
}
@media all and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
  #page {
    width:100%;
  }
}
@media all and (max-width : 768px) and (orientation : landscape) {
  #page {
    width:100%;
  }
}
